/*Reglas de estilo de la version 0.2*/
body {
    background-image: url(https://images.hdqwalls.com/wallpapers/vaporwave-zl.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    color: white;
}

/*HEADER*/
header {
    background-color: #000051; 
    padding-top: 10px; 
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.anclasNavH {
    background-color: #1a237e;
    color: white;
    text-decoration: none;
    margin: 10px;
    padding: 5px;
}

.titulosG {
    text-align: center;
    margin-bottom: 10px;
}

/*MAIN*/
main {
    margin-left: 20px;
    margin-right: 20px;
}

.perfilGeneral{
    height: 1188.81px;
    width: 30%;
    display: inline-block;
    background-color: #534bae;
    color: whitesmoke;
}

#Foto {
    margin-top: 10px;
    margin-left: 35px;
    padding: 10px;
    background-color: #1a237e;
}

.perfilProfesional{
    height: 1188.81px;
    width: 70%;
    float: right;
    background-color: whitesmoke;
    color: black;
}

.titulosP {
    margin-left: 20px;
}

.contenidoP {
    margin: 10px;
}

.cadi {
    color: blue;
    display: inline-block;
}

#Fospuca {
    color: blue;
    display: inline-block;
}

#ExpL {
    text-align: center;
    padding: 10px;
    background-color: #1a237e;
    color: white;
}

#Est {
    text-align: center;
    padding: 10px;
    background-color: #1a237e;
    color: white;
}

#PG {
    text-align: center;
}

/*FOOTER*/
footer {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.anclasNavF {
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    background-color: #1a237e;
    color: white;
    text-decoration: none;
    display: inline-block;
}

/*Reglas de estilo de la version 0.1*/
#cuerpo{
    background-color: #243030; 
    color: whitesmoke;
}

#titular{
    background-color: #B97C4D;
    color: black;
}

#perfil{
    background-color: #F5DFB5 ;
    color: #637078;
}
